<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Blogify</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Add Blog</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center gap-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <% if (user.profileImageURL && user.profileImageURL !== '/images/default.png') { %>
                <img
                  src="<%= user.profileImageURL %>"
                  width="30"
                  height="30"
                  class="rounded-circle"
                  style="object-fit: cover"
                />
              <% } else { %>
                <div 
                  class="rounded-circle d-inline-flex align-items-center justify-content-center"
                  style="width: 30px; height: 30px; background-color: <%= getColorFromName(user.fullName) %>;"
                >
                  <span style="color: white; font-size: 14px; font-weight: bold;">
                    <%= getInitials(user.fullName) %>
                  </span>
                </div>
              <% } %>
              <%= user.fullName || user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/user/profile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/user/logout">Logout</a>
              </li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
