<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signin</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      
      <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>

      <form action="/user/signin" method="post">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Signin</button>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
